<%= form_for @lab_device,:html => {:multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name,'名称', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :device_type,'类别', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :device_type, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :cost,'价值', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cost, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :supplier,'供应商', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :supplier, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :brand,'品牌', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :brand, :class => 'text_field' %>
      </div>
    </div>
        <div class="control-group">
          <%= f.label :bn,'条码', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :bn, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :file,'照片', :class => 'control-label' %>
          <div class="controls">
            <%= file_field_tag :file,:class => 'file_field' %>
          </div>
        </div>
  <div class="control-group">
    <%= f.label :version,'版本', :class => 'control-label' %>
    <div class="controls">&nbsp;
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
    </div>
    <div class="control-group">
      <%= f.label :status,'状态', :class => 'control-label'%>
      <div class="controls">
        <%=f.select :status, options_from_collection_for_select(Option.where(:key=>'device_status'),'value','name','') %>
        <span class="help-inline error"></span>
      </div>
  </div>

  <div class="form-actions">
    <%= f.submit '确定', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_devices_path, :class => 'btn' %>
  </div>
<% end %>
