<%- model_class = LabCourseware -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><a href="#">课件</a></li>
      <li><a href="#"><%= @lab_courseware.name %></a></li>
    </ul>
  </nav>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:course_id) %>:</strong></dt>
  <dd><%= @lab_courseware.course_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:productor_id) %>:</strong></dt>
  <dd><%= @lab_courseware.productor_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
  <dd><%= @lab_courseware.type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:play_time) %>:</strong></dt>
  <dd><%= @lab_courseware.play_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file_size) %>:</strong></dt>
  <dd><%= @lab_courseware.file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_time) %>:</strong></dt>
  <dd><%= @lab_courseware.product_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:download_url) %>:</strong></dt>
  <dd><%= @lab_courseware.download_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:download_times) %>:</strong></dt>
  <dd><%= @lab_courseware.download_times %></dd>
  <dt><strong><%= model_class.human_attribute_name(:publish_time) %>:</strong></dt>
  <dd><%= @lab_courseware.publish_time %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lab_coursewares_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lab_courseware_path(@lab_courseware), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lab_courseware_path(@lab_courseware),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
