<%= form_for @lab_question, :html => { :class => 'form-horizontal' } do |f| %>
    <input value="<%=@questionnaire%>" name="questionnaire">
  <div class="control-group">
    <%= f.label :desc,'问题内容', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :question_category,'问题种类', :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :question_type, :class => 'text_field' %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :question_category,'问题类别', :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :question_category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight,'权重', :class => 'control-label' %>
    <div class="controls">
     0 - <%= f.number_field :weight, :class => 'number_field' %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :weight,'分值', :class => 'control-label' %>
      <div class="controls">
       0 - <%= f.number_field :weight, :class => 'number_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :options,'答案选项', :class => 'control-label' %>
      <div class="controls">
        <input name="option1" class = 'text_field' />
      </div>
      <div class="controls">
        <input name="option2" class = 'text_field' />
      </div>
      <div class="controls">
        <input name="option3" class = 'text_field' />
      </div>
      <div class="controls">
        <input name="option4" class = 'text_field' />
      </div>
    </div>
  <div class="form-actions">
    <%= f.submit '确定', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_questions_path, :class => 'btn' %>
  </div>
<% end %>
