<%= form_for @lab_question, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :report_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :report_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :report_index, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :report_index, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :answer_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :answer_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_questions_path, :class => 'btn' %>
  </div>
<% end %>
