<%= form_for @lab_user, :html => { :class => 'form-horizontal' } do |f| %>
 <div class="login-div clearfix">
  <%= f.hidden_field :status,:value=>0%>
  <div class="control-group clearfix">
    <%= f.label :name, :class => 'control-label' do%>
      姓名：
    <%end%>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mobile, :class => 'control-label' do%>
      手机：
    <%end%>
    <div class="controls">
      <%= f.text_field :mobile, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' do%>
      EMAIL：
    <%end%>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
      <span class="help-inline error"><%=@lab_user.errors[:email].join(",")%></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :account, :class => 'control-label' do%>
      账号：
    <%end%>
    <div class="controls">
      <%= f.text_field :account, :class => 'text_field' %>
      <span class="help-inline error"><%=@lab_user.errors[:account].join(",")%></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' do%>
      密码：
    <%end%>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
      <span class="help-inline error"><%=@lab_user.errors[:password].join(",")%></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :role_id, :class => 'control-label' do%>
      用户类型：
    <%end%>
    <div class="controls">
      <%=f.select :role_id, options_from_collection_for_select(LabRole.all,'id','name',''),:include_blank=>"请选择" %>
      <span class="help-inline error"><%=@lab_user.errors[:role_id].join(",")%></span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "确定", :class => 'btn btn-primary' %>&nbsp;&nbsp;
    <%= link_to '返回',
                login_lab_users_path, :class => 'btn' %>
  </div>
</div>
<% end %>
