<div class="panel">
   <header>
            <i class="icon-asterisk"></i>
            <span>操作列表</span>
   </header>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active">
        <a href="#teach_resources">
          <i class="icon-bar-chart"></i>
          <span>教学资源管理</span>
        </a>
      </li>
      <li><a href="#teach_designs">
        <i class="icon-hdd"></i>
        <span>教学设计管理</span>
      </a></li>
      <li><a href="#mobile_courses">
        <i class="icon-hdd"></i>
        <span>移动课程管理</span>
      </a></li>
      <li><a href="http://101.226.163.149:18010/" target="_blank">
        <i class="icon-hdd"></i>
        <span>MOOC课程管理</span>
      </a></li>
      <li><a href="#forum">
        <i class="icon-hdd"></i>
        <span>课程论坛管理</span>
      </a></li>
      <li><a href="#notices">
        <i class="icon-hdd"></i>
        <span>课程信息管理</span>
      </a></li>
      <li><a href="#base_data">
        <i class="icon-hdd"></i>
        <span>基础数据维护</span>
      </a></li>
      <li>
        <a href="#data_analysis">
          <i class="icon-tasks"></i>
          <span>数据分析</span>
        </a>
      </li>
    </ul>
  <%= link_to 'hide_btn',get_big_chart_monitors_path,:base_data=>get_big_chart_monitors_path,:class => 'stub hide fancybox fancybox.iframe' %>
    <div class="tab-content"> 
      <div class="tab-pane full_height  active" id="teach_resources">
        <iframe id="tab1_frame" src="<%=lab_teach_resources_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="teach_designs">
        <iframe id="tab1_frame" src="<%=lab_teach_designs_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="mobile_courses">
        <iframe id="tab1_frame" src="<%=lab_mobile_courses_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="mooc">...</div>
      <div class="tab-pane full_height" id="forum">...</div>
      <div class="tab-pane full_height" id="notices">
        <iframe id="tab1_frame" src="<%=lab_notices_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="base_data">
          <div class="help-inline full_width">
            <%= link_to '学科分类',
                        options_path(:key => "course_type"), :class => 'btn iframe_btns' %>
          </div>
          <iframe id="tab1_framess" src="<%=options_path%>?key=course_type"></iframe>
      </div>

      <div class="tab-pane full_height" id="data_analysis">

        <div class="help-inline full_width">
          <%= link_to general_behaviour_monitors_path, :class => 'metro-btn iframe_btn' do%>
              <span>一般学习习惯</span>
          <%end%>
          <%= link_to interactive_study_monitors_path, :class => 'metro-btn iframe_btn' do%>
              <span>交互学习行为</span>
          <%end%>
          <%= link_to course_study_monitors_path, :class => 'metro-btn iframe_btn' do%>
              <span>课程学习行为</span>
          <%end%>
          <%= link_to comprehensive_monitors_path, :class => 'metro-btn iframe_btn' do%>
              <span>课堂测试</span>
          <%end%>

        </div>
        <iframe id="tab1_frames" src="<%=online_monitors_path%>"></iframe>
      </div>

    </div> 
</div>

<%= javascript_include_tag "jquery.fancybox", "jquery_mousewheel_pack" %>
<%= stylesheet_link_tag "jquery_fancybox", :media => "screen" %>
<script type="text/javascript">
    function show_fancybox(data_source,chart_type)
    {
        // alert($(".stub").attr("href"));
        var base_url = $(".stub").attr("base_data");
        var url = base_url+"?chart_type="+chart_type+"&data_source="+data_source;
        $(".stub").attr("href",url);
        $(".stub").trigger("click");
    }
    $(document).ready(function(){
        $('.fancybox').fancybox({
            width:$(document).width(),
            height:$(document).height(),
            margin: [15,15,15,15],
            closeBtn  : true,
            fitToView : true,
            autoSize:false,
            // height: 'auto',
            afterShow: function(){
                $.fancybox.update();
            }
        });
    });
</script>