<%- model_class = LabUser -%>
<div class="panel">
  <header>
    <span><i class="icon-circle-arrow-up arrow_op"></i></span>
    <span>用户列表</span>
     <span class="new_button">
        <i class="icon-pencil"></i>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_user_path%>
     </span>
  </header>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>昵称</th>
      <th>手机</th>
      <th>Email</th>
      <th>账号</th>
      <th>状态</th>
      <th>角色</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_users.each do |lab_user| %>
      <tr>
        <td><%= link_to lab_user.id, lab_user_path(lab_user) %></td>
        <td><%= lab_user.name %></td>
        <td><%= lab_user.mobile %></td>
        <td><%= lab_user.email %></td>
        <td><%= lab_user.account %></td>
        <td><%= lab_user.status_text %></td>
        <td><%= lab_user.lab_role.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_user_path(lab_user), :class => 'btn btn-mini' %>
          <%= link_to "审核通过",
                      pass_lab_user_path(lab_user), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_user_path(lab_user),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
  <%= will_paginate @lab_users, :container => false %>
</div>

