<div class="panel">
   <header>
            <i class="icon-asterisk"></i>
            <span>操作列表</span>
   </header>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#apply_manage">
        <i class="icon-bar-chart"></i>
        <span>评测申请审核</span>
      </a></li>
      <li>
        <a href="#eval_manage">
            <i class="icon-hdd"></i>
            <span>评测管理</span>
        </a>
      </li>
      <li>
        <a href="#lab_manage">
          <i class="icon-dashboard"></i>
          <span>实验室管理</span>
        </a>
      </li> 
      <li>
        <a href="#notices">
          <i class="icon-film"></i>
          <span>评测信息管理</span>
        </a>
      </li>
      <li>
        <a href="#base_data">
          <i class="icon-tasks"></i>
          <span>基础数据维护</span>
        </a>
      </li>
      <li>
        <a href="#data_analysis">
          <i class="icon-tasks"></i>
          <span>数据分析</span>
        </a>
      </li>
    </ul>
    <%= link_to 'hide_btn',get_big_chart_monitors_path, :class => 'stub hide fancybox fancybox.iframe' %>
    <div class="tab-content full_height"> 
      <div class="tab-pane full_height active" id="apply_manage">
        <iframe id="tab1_frame" src="<%=apply_lab_eval_projects_path%>"></iframe>
      </div> 
      <div class="tab-pane full_height" id="eval_manage">
        <iframe id="tab1_frame" src="<%=lab_eval_projects_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="lab_manage">
        <div class="help-inline full_width">
          <%= link_to lab_courses_path, :class => 'metro-btn iframe_btn' do%>
<!--             <i class="icon-tasks"></i>
 -->            <span>实验课堂</span>
          <%end%>
          <%= link_to behaviour_monitors_path, :class => 'metro-btn iframe_btn' do%>
              <!--             <i class="icon-tasks"></i>
               -->            <span>行为体态监测</span>
          <%end%>
          <%= link_to mind_wave_monitors_path, :class => 'metro-btn iframe_btn' do%>
<!--             <i class="icon-tasks"></i>
 -->            <span>脑波监测</span>
          <%end%>
          <%= link_to network_monitors_path, :class => 'metro-btn iframe_btn' do%>
<!--             <i class="icon-tasks"></i>
 -->            <span>网络监测</span>
          <%end%>
          <%= link_to energy_consumption_monitors_path, :class => 'metro-btn iframe_btn' do%>
              <!--             <i class="icon-tasks"></i>
               -->            <span>能耗监测</span>
          <%end%>
        </div>
          <iframe id="tab1_frames" src="<%=lab_manage_home_monitors_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="notices">
        <iframe id="tab1_frame" src="<%=lab_notices_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="base_data">
        <div class="help-inline full_width">
          <%= link_to '教学场景',
                      lab_scenes_path, :class => 'btn iframe_btns' %>
          <%= link_to '实验室设备',
                      lab_equipments_path, :class => 'btn iframe_btns' %>
          <%= link_to '供应商',
                      lab_suppliers_path, :class => 'btn iframe_btns' %>
          <%= link_to '评测项目',
                      options_path(:key => "eval_means"), :class => 'btn iframe_btns' %>
        </div>
        <div>
        </div>
        <iframe id="tab1_framess" src="<%=lab_scenes_path%>"></iframe>

      </div>
      <div class="tab-pane full_height" id="data_analysis">
        ....
      </div>
    </div>
</div>

<%= javascript_include_tag "jquery.fancybox", "jquery_mousewheel_pack" %>
<%= stylesheet_link_tag "jquery_fancybox", :media => "screen" %>
<script type="text/javascript">
  function show_fancybox(data_source,chart_type)
  {
    var url = $(".stub").attr("href")+"?chart_type="+chart_type+"&data_source="+data_source;
    $(".stub").attr("href",url);
    $(".stub").trigger("click");  
  }
  $(document).ready(function(){
    $('.fancybox').fancybox({
      width:$(document).width(),
      height:$(document).height(),
      margin: [15,15,15,15],
      closeBtn  : true,
      fitToView : true,
      autoSize:false,
      // height: 'auto',
        afterShow: function(){
            $.fancybox.update();
        }
    });
  });
</script>