<div class="login_page">
  <div id="login_form_div">
    <%=form_for :lab_user,:url=>modify_pass_lab_users_path,:html=>{:id=>"login_form"} do |f|%>
        <%= f.hidden_field :user_id,:value=>params[:id]%>
        <%= f.hidden_field :token,:value=>params[:reset_token]%>
        <div class="login-div clearfix">
            <div class="control-group clearfix">
              <label class="control-label">新密码：</label>
              <div class="controls">
                <%= f.password_field :password, :required => false,:class => "login_input", :autofocus => true %>
              </div>
            </div>
            <div class="control-group clearfix">
              <label class="control-label">确认：</label>
              <div class="controls">
                <%= f.password_field :confirm_password, :required => false,:class => "login_input", :autofocus => true %>
              </div>
            </div>
            <div class="btn-groups">
                <%= f.submit "", :class => 'btn',:value=>"提交"%>
            </div>
        </div>
        <div class="login_flash_div">
            <%- flash.each do |name, msg| -%>
                  <script>
                    $(".login_flash_div").show();
                  </script>
                  <%=raw msg %>&nbsp;&nbsp;<a style="text-decoration:none; color:red" href="#" class="close">×</a>
            <%- end -%>
        </div>
    <% end %>
  </div>
</div>