<div class="panel">
<!--   <header>
            <i class="icon-asterisk"></i>
            <span>操作列表</span>
   </header>
   -->
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#system"><i class="icon-bar-chart"></i>
        <span>系统管理</span></a></li>
      <li style="display:none"><a href="#base_data"><i class="icon-bar-chart"></i>
        <span>基础数据维护</span></a></li>
      <li><a href="#notices"><i class="icon-bar-chart"></i>
        <span>新闻公告管理</span></a></li>
      <li><a href="/lab_users/course_manage" target="_blank"><i class="icon-bar-chart"></i>
        <span>在线课程管理</span></a></li>
      <li><a href="/lab_users/lab_manage" target="_blank"><i class="icon-bar-chart"></i>
        <span>实验室评测管理</span></a></li>
    </ul>
    <div class="tab-content full_height">
      <div class="tab-pane full_height active" id="system">
        <div class="help-inline full_width">
        <%= link_to '用户管理',
                lab_users_path, :class => 'btn iframe_btn' %>
        <%= link_to '角色管理',
                lab_roles_path, :class => 'btn iframe_btn' %>
        <%#= link_to '权限管理',
                lab_users_path, :class => 'btn iframe_btn' %>
        </div>

          <iframe id="tab1_frame" src="<%=lab_users_path%>" ></iframe>
      </div>
      <div class="tab-pane full_height" id="notices">
          <iframe id="tab2_frame" src="<%=lab_notices_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="resource">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            efg
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div>
      <div class="tab-pane full_height" id="base_data">
        <iframe id="tab1_frames" src="<%=options_path%>"></iframe>
      </div>
    </div>
  <div class="tabl-pane full_height" id="data_analysis">
    数据分析
  </div>
</div>