<div class="panel">
 <!--  <header>
        <i class="icon-asterisk"></i>
        <span>操作列表</span>
   </header>
   -->
    <ul class="nav nav-tabs" id="myTab">
      <!--
      <li class="active"><a href="#home"><i class="icon-bar-chart"></i>
        <span>教学首页</span></a></li>
      -->
      <li class="active"><a href="#teach_design"><i class="icon-bar-chart"></i>
        <span>教学设计</span></a></li>
      <li>
        <a href="#teach_resources">
          <i class="icon-bar-chart"></i>
          <span>教学资源库</span>
        </a>
      </li>
      <li>
        <%= link_to query_lab_users_path, :class => 'fancybox fancybox.iframe' do%>
          <i class="icon-bar-chart"></i>
          <span>学生查询</span>
        <%end%>
      </li>
      <li>
        <%= link_to teach_lab_courses_path, :class => 'metro-btn',:target=>"_blank" do%>
            <i class="icon-bar-chart"></i>
            <span>MOOC课程</span>
        <%end%>
      </li>
      <li><a href="#mobile_courses"><i class="icon-bar-chart"></i>
        <span>移动课程</span></a></li>
      <li><a href="#eval"><i class="icon-bar-chart"></i>
        <span>评测课程</span></a></li>
    </ul>
    <div class="tab-content">
      <!--
      <div class="tab-pane full_height active" id="home">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            efg
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div>
      -->
      <div class="tab-pane full_height  active" id="teach_design">
        <iframe id="tab1_frame" src="<%=lab_teach_designs_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="teach_resources">
        <iframe id="tab1_frame" src="<%=lab_teach_resources_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="mooc">...</div>
      <div class="tab-pane full_height" id="mobile_courses">
        <iframe id="tab1_frame" src="<%=lab_mobile_courses_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="eval">
          <iframe id="tab1_frame" src="<%=apply_lab_eval_projects_path%>"></iframe>
      </div>
    </div> 
</div>
<%= javascript_include_tag "jquery.fancybox", "jquery_mousewheel_pack" %>
<%= stylesheet_link_tag "jquery_fancybox", :media => "screen" %>
<script type="text/javascript">
  $(document).ready(function(){
        $('.fancybox').fancybox({
            width:$(document).width(),
            height:$(document).height(),
            margin: [15,15,15,15],
            closeBtn  : true,
            fitToView : true,
            autoSize:false,
            // height: 'auto',
            afterShow: function(){
                $.fancybox.update();
            }
        });
    });
</script>