<div class="panel">
   <header>
            <i class="icon-asterisk"></i>
            <span>操作列表</span>
   </header>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#home"><i class="icon-bar-chart"></i>
        <span>教学首页</span></a></li>
      <li><a href="#teach_design"><i class="icon-bar-chart"></i>
        <span>教学设计</span></a></li>
      <li><a href="#teach_resources"><i class="icon-bar-chart"></i>
        <span>教学资源库</span></a></li>
      <li>
        <!-- <a href="http://101.226.163.149:18010/"  target="_blank">
          <i class="icon-bar-chart"></i>
          <span>MOOC教学课程</span>
        </a> -->
        <%= link_to teach_lab_courses_path, :class => 'metro-btn',:target=>"_blank" do%>
            <i class="icon-bar-chart"></i>
            <span>MOOC课程</span>
        <%end%>
      </li>
      <li><a href="#mobile_courses"><i class="icon-bar-chart"></i>
        <span>移动课程</span></a></li>
      <li><a href="#eval"><i class="icon-bar-chart"></i>
        <span>评测课程</span></a></li>
    </ul>
    <div class="tab-content"> 
      <div class="tab-pane full_height active" id="home">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            efg
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div> 
      <div class="tab-pane full_height" id="teach_design">
        <iframe id="tab1_frame" src="<%=lab_teach_designs_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="teach_resources">
        <iframe id="tab1_frame" src="<%=lab_teach_resources_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="mooc">...</div>
      <div class="tab-pane full_height" id="mobile_courses">
        <iframe id="tab1_frame" src="<%=lab_mobile_courses_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="eval">
          <iframe id="tab1_frame" src="<%=apply_lab_eval_projects_path%>"></iframe>
      </div>
    </div> 
</div>