<div class="panel">
 <!--  <header>
        <i class="icon-asterisk"></i>
        <span>操作列表</span>
   </header>
   -->
    <ul class="nav nav-tabs" id="myTab">
      <!--
      <li class="active"><a href="#home"><i class="icon-bar-chart"></i>
        <span>教学首页</span></a></li>
      -->
      <li class="active">
        <a href="#teach_tools">
          <i class="icon-bar-chart"></i>
          <span>教学工具</span>
        </a>
      </li>
      <li>
        <a href="#mooc">
            <i class="icon-bar-chart"></i>
            <span>MOOC课程</span>
        </a>
      </li>
      <li><a href="#eval"><i class="icon-bar-chart"></i>
        <span>评测课程</span></a></li>
    </ul>
  <div class="tab-content full_height">
      <!--
      <div class="tab-pane full_height" id="home">
        <div class="home_top">
          <div class="home_top_left">
            <ul>
              <li>
                
              </li>
            </ul>
          </div>
          <div class="home_top_right">
            efg
          </div>
        </div>
        <div class="home_bottom">

        </div>
      </div>
      -->
      <div class="tab-pane full_height  active" id="teach_tools">
        <div class="help-inline full_width" >
          <%= link_to lab_teach_designs_path, :class => 'lab_metro metro-btn iframe_btnss' do%>
              <span>教学设计</span>
          <%end%>
          <%= link_to lab_teach_resources_path, :class => 'lab_metro metro-btn iframe_btnss',:target=>"_blank" do%>
              <span>教学资源库</span>
          <%end%>
          <%= link_to '/lab_notices/10', :class => 'lab_metro metro-btn iframe_btnss' do%>
              <span>多屏互动</span>
          <%end%>
          <%= link_to '/lab_notices/11', :class => 'lab_metro metro-btn iframe_btnss' do%>
              <span>3D</span>
          <%end%>
          <%= link_to '/lab_notices/12', :class => 'lab_metro metro-btn iframe_btnss' do%>
              <span>投影</span>
          <%end%>
          <%= link_to '/lab_notices/13', :class => 'lab_metro metro-btn iframe_btnss' do%>
              <span>幻影成像</span>
          <%end%>
        </div>
        <iframe id="tab1_framesss" src="<%=lab_teach_designs_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="mooc">
        <div class="help-inline full_width">
          <%= link_to query_lab_users_path, :class => 'lab_metro metro-btn iframe_btns' do%>
              <span>学生查询</span>
          <%end%>
          <%= link_to teach_lab_courses_path, :class => 'lab_metro metro-btn iframe_btns',:target=>"_blank" do%>
              <span>MOOC课程</span>
          <%end%>
          <%= link_to lab_mobile_courses_path, :class => 'lab_metro metro-btn iframe_btns' do%>
              <span>移动课程</span>
          <%end%>
        </div>
        <iframe id="tab1_framess" src="<%=lab_mobile_courses_path%>"></iframe>
      </div>

      <div class="tab-pane full_height" id="eval">
        <div class="help-inline full_width">
          <%= link_to apply_lab_eval_projects_path, :class => 'lab_metro metro-btn iframe_btn' do%>
              <span>评测申请</span>
          <%end%>
          <%= link_to lab_courses_path, :class => 'lab_metro metro-btn iframe_btn' do%>
              <span>评测课程</span>
          <%end%>
        </div>

        <iframe id="tab1_frames" src="<%=apply_lab_eval_projects_path%>"></iframe>
      </div>
    </div>
</div>
<%= javascript_include_tag "jquery.fancybox", "jquery_mousewheel_pack" %>
<%= stylesheet_link_tag "jquery_fancybox", :media => "screen" %>
<script type="text/javascript">
  $(document).ready(function(){
        $('.fancybox').fancybox({
            width:$(document).width(),
            height:$(document).height(),
            margin: [15,15,15,15],
            closeBtn  : true,
            fitToView : true,
            autoSize:false,
            // height: 'auto',
            afterShow: function(){
                $.fancybox.update();
            }
        });
    });
</script>