<%= form_for @lab_equipment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name,"设备名:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :equipment_code,"编号:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :equipment_code, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position,"序号:", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_equipments_path, :class => 'btn' %>
  </div>
<% end %>
