<%- model_class = LabEquipment -%>
<div class="panel">
  <header>
    <span><i class="icon-asterisk"></i></span>
    <span>试验室设备</span>
     <span class="new_button">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_equipment_path,
                    :class => 'btn btn-primary' %>
     </span>
  </header>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:equipment_code) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th>数据表状态</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_equipments.each do |lab_equipment| %>
      <tr>
        <td><%= link_to lab_equipment.id, lab_equipment_path(lab_equipment) %></td>
        <td><%= lab_equipment.name %></td>
        <td><%= lab_equipment.equipment_code %></td>
        <td><%= lab_equipment.position %></td>
        <td><%= lab_equipment.lab_equipment_mapping.status %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_equipment_path(lab_equipment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_equipment_path(lab_equipment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @lab_equipments, :container => false %>
</div>
