<%- model_class = LabReport -%>
<div class="panel">
  <header>
    <span><i class="icon-circle-arrow-up arrow_op"></i></span>
    <span><%=t '.title', :default => model_class.model_name.human.pluralize %></span>
    <span class="new_button">
        <i class="icon-pencil"></i>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_report_path%>
     </span>
  </header>
</div>
<div class="panel">
  <br>
  <form method="post" action="<%=@action%>" class=="form-search">
    <input value='<%=@key%>' name="key" class = 'text_field search-query'/>
    <input type="submit" value="查询" class ='btn'/>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:desc) %></th>
      <th><%= model_class.human_attribute_name(:parent_report_id) %></th>
      <th><%= model_class.human_attribute_name(:child_report_index) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %> </th>
    </tr>
  </thead>
  <tbody>
    <% @lab_reports.each do |lab_report| %>
      <tr>
        <td><%= link_to lab_report.id, lab_report_path(lab_report) %></td>
        <td><%= lab_report.name %></td>
        <td><%= lab_report.desc %></td>
        <td><%= lab_report.parent_report_id %></td>
        <td><%= lab_report.child_report_index %></td>
        <td><%=l lab_report.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_report_path(lab_report), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_report_path(lab_report),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

          <%= link_to '导出报告','/lab_reports/1/export', :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @lab_reports, :container => false %>
</div>