<%- model_class = LabReport -%>

<div class="page-header">
  <h1>测试报告</h1>
</div>

<p style="margin-left:21.0pt;">
  一、教学资源实验室体态分析评测报告</p>
<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>基本信息</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试项目名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请单位</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>申请单位联系人</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>联系方式</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请时间</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>版本</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>项目背景</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试目标</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>课程名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试地点</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>参与人员</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试流程</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试内容</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>测试结果</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试时间区间</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试情景</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>无线网络总流量</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>实验对象抽样</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生1</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生2</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生3</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生4</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>教学效果</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂最高安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂最低安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂平均安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>图表</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p>
      <strong>注：插入体态的图表，自带标题</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center" style="margin-left:31.5pt;">
      <strong>意见和建议</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p style="margin-left:31.5pt;">
      <strong>注：根据页面输入填写该部分内容</strong></p>
  </td>
</tr>
<tr height="0">
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
</tr>
</tbody>
</table>
<p>
  &nbsp;</p>
<p>
  &nbsp;</p>
<p style="margin-left:21.0pt;">
  二、教学资源实验室脑波评测报告</p>
<p>
  &nbsp;</p>
<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>基本信息</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试项目名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请单位</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>申请单位联系人</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>联系方式</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请时间</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>版本</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>项目背景</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试目标</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>课程名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试地点</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>参与人员</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试流程</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试内容</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>测试结果</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试时间区间</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试情景</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>无线网络总流量</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>实验对象抽样</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生1</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生2</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生3</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生4</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>教学效果</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度最高值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度最低值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度平均值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度最高值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度最低值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度平均值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>图表</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p>
      <strong>注：插入脑波的图表，自带标题</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center" style="margin-left:31.5pt;">
      <strong>意见和建议</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p style="margin-left:31.5pt;">
      <strong>注：根据页面输入填写该部分内容</strong></p>
  </td>
</tr>
<tr height="0">
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
</tr>
</tbody>
</table>
<p>
  &nbsp;</p>
<p style="margin-left:21.0pt;">
  三、教学资源实验室评测问卷调查报告（以下为样例，需要参考问卷网站设计问题，以及产生问卷分析的图表）</p>
<p>
  <img height="558" src="file:///C:/Users/scenery/AppData/Local/Temp/msohtmlclip1/01/clip_image002.jpg" width="554" /></p>
<p>
  &nbsp;</p>
<p style="margin-left:21.0pt;">
  四、教学资源实验室评测总报告</p>
<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>基本信息</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试项目名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请单位</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>申请单位联系人</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>联系方式</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请时间</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>版本</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>项目背景</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试目标</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>课程名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试地点</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>参与人员</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试流程</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试内容</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>测试结果</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试时间区间</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试情景</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>无线网络总流量</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>实验对象抽样</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生1</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生2</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生3</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生4</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>教学效果</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂最高安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂最低安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂平均安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度最高值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度最低值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度平均值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度最高值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度最低值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度平均值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>图表</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p>
      <strong>注：插入体态和脑波的图表，自带标题</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center" style="margin-left:31.5pt;">
      <strong>问卷调查结果</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p style="margin-left:31.5pt;">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center" style="margin-left:31.5pt;">
      <strong>意见和建议</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p style="margin-left:31.5pt;">
      <strong>注：根据页面输入填写该部分内容</strong></p>
  </td>
</tr>
<tr height="0">
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
</tr>
</tbody>
</table>
<p>
  &nbsp;</p>
<p>
  &nbsp;</p>
<p style="margin-left:21.0pt;">
  五、电子书包实验室评测问卷调查报告（以下为样例，需要参考问卷网站设计问题，以及产生问卷分析的图表）</p>
<p>
  <img height="558" src="file:///C:/Users/scenery/AppData/Local/Temp/msohtmlclip1/01/clip_image003.jpg" width="554" /></p>
<p>
  &nbsp;</p>
<p>
  &nbsp;</p>
<p style="margin-left:21.0pt;">
  六、电子书包实验室评测报告</p>
<p>
  &nbsp;</p>
<p>
  &nbsp;</p>
<table border="1" cellpadding="0" cellspacing="0">
<tbody>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>基本信息</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试项目名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请单位</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>申请单位联系人</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>联系方式</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>申请时间</strong></p>
  </td>
  <td colspan="2" style="width:151px;">
    <p>
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:76px;">
    <p>
      <strong>版本</strong></p>
  </td>
  <td colspan="2" style="width:196px;">
    <p>
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>项目背景</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试目标</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>产品名称</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试地点</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>参与人员</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试流程</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p align="center">
      <strong>测试内容</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>测试结果</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试时间区间</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>测试情景</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>无线网络总流量</strong></p>
  </td>
  <td colspan="6" style="width:423px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>实验对象抽样</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生1</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生2</strong></p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      <strong>学生3</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      <strong>学生4</strong></p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>教学效果</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂最高安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂最低安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>课堂平均安静指数</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度最高值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度最低值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>专注度平均值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度最高值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度最低值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td style="width:130px;">
    <p>
      <strong>放松度平均值</strong></p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td colspan="2" style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
  <td style="width:106px;">
    <p align="center">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center">
      <strong>图表</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p>
      <strong>注：插入体态和脑波的图表，自带标题</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center" style="margin-left:31.5pt;">
      <strong>问卷调查结果</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p style="margin-left:31.5pt;">
      &nbsp;</p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p align="center" style="margin-left:31.5pt;">
      <strong>意见和建议</strong></p>
  </td>
</tr>
<tr>
  <td colspan="7" style="width:553px;">
    <p style="margin-left:31.5pt;">
      <strong>注：根据页面输入填写该部分内容</strong></p>
  </td>
</tr>
<tr height="0">
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
  <td>
    &nbsp;</td>
</tr>
</tbody>
</table>
<p>
  &nbsp;</p>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @lab_report.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:desc) %>:</strong></dt>
  <dd><%= @lab_report.desc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_report_id) %>:</strong></dt>
  <dd><%= @lab_report.parent_report_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:child_report_index) %>:</strong></dt>
  <dd><%= @lab_report.child_report_index %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lab_reports_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lab_report_path(@lab_report), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lab_report_path(@lab_report),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
