<%- model_class = LabSceneResource -%>
<div class="panel">
  <header>
    <span><i class="icon-circle-arrow-up arrow_op"></i></span>
    <span>教学场景多媒体资源</span>
    <span class="new_button">
        <i class="icon-pencil"></i>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_scene_resource_path %>
     </span>
  </header>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type) %></th>
      <th><%= model_class.human_attribute_name(:play_type) %></th>
      <th><%= model_class.human_attribute_name(:play_idle) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_scene_resources.each do |lab_scene_resource| %>
      <tr>
        <td><%= link_to lab_scene_resource.id, lab_scene_resource_path(lab_scene_resource) %></td>
        <td><%= lab_scene_resource.name %></td>
        <td><%= lab_scene_resource.type %></td>
        <td><%= lab_scene_resource.play_type %></td>
        <td><%= lab_scene_resource.play_idle %></td>
        <td><%=l lab_scene_resource.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_scene_resource_path(lab_scene_resource), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_scene_resource_path(lab_scene_resource),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @lab_scene_resources, :container => false %>
</div>