<%= form_for @lab_eval_project, :html => {:multipart => true, :class => 'form-horizontal' } ,:method=>:post do |f|%>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' do%>
      评测对象名称：
    <%end%>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version, :class => 'control-label' do%>
      版本：
    <%end%>
    <div class="controls">
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' do%>
      评测对象类型：
    <%end%>
    <div class="controls">
      <%=f.select :category_id, options_from_collection_for_select(Option.where(:key=>"eval_object_type"),'value','name',@lab_eval_project.category_id),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_type, :class => 'control-label' do%>
      学科类别：
    <%end%>
    <div class="controls">
      <%=f.select :course_type, options_from_collection_for_select(Option.where(:key=>"course_type"),'value','name',@lab_eval_project.course_type),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scene_id,"教学场景：", :class => 'control-label' %>
    <div class="controls">
      <%=f.select :scene_id, options_from_collection_for_select(LabScene.all,'id','name',@lab_eval_project.scene_id),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, "供应商", :class => 'control-label' %>
    <div class="controls">
      <%=f.select :supplier_id, options_from_collection_for_select(LabSupplier.all,'id','name',@lab_eval_project.supplier_id),:include_blank=>"请选择" %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :brief, "简介", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :brief, :class => 'text_field' %>
      </div>
    </div>


  <div class="form-actions">

    <%= f.submit "确定", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_eval_projects_path, :class => 'btn' %>
  </div>
<% end %>
