<%= form_for @lab_eval_project, :html => {:multipart => true, :class => 'form-horizontal' } do |f|%>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' do%>
      评测对象名称：
    <%end%>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' ,:style=>'width:500px' %>
    </div>
  </div>
    <div class="muti_columns_main">
      <div class="muti_columns">
  <div class="control-group">
    <%= f.label :version, :class => 'control-label' do%>
      版本：
    <%end%>
    <div class="controls">
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' do%>
      评测对象类型：
    <%end%>
    <div class="controls">
      <%=f.select :category_id, options_from_collection_for_select(Option.where(:key=>"eval_object_type"),'value','name',@lab_eval_project.category_id),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_type, :class => 'control-label' do%>
      学科类别：
    <%end%>
    <div class="controls">
      <%=f.select :course_type, options_from_collection_for_select(Option.where(:key=>"course_type"),'value','name',@lab_eval_project.course_type),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :scene_id,"教学场景：", :class => 'control-label' %>
    <div class="controls">
      <%=f.select :scene_id, options_from_collection_for_select(LabScene.all,'id','name',@lab_eval_project.scene_id),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier_id, "供应商", :class => 'control-label' %>
    <div class="controls">
      <%=f.select :supplier_id, options_from_collection_for_select(LabSupplier.all,'id','name',@lab_eval_project.supplier_id),:include_blank=>"请选择" %>
    </div>
  </div>
        <div class="control-group">
          <%= f.label :unit, "单位", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :unit, :class => 'text_field' %>
          </div>
        </div>
  </div>
  <div class="muti_columns">
    <div class="control-group">
      <%= f.label :eval_means, "评测项目：", :class => 'control-label' %>
      <div class="controls">
        <ul>
            <%@eval_means.each_with_index do |means,index|%>
                <li>
                  <%checked=false%>
                  <%eval(@lab_eval_project.eval_means).each do |mean|%>
                      <%if mean[0]==means.value && mean[1]=="1"%>
                          <%checked=true%>
                      <%end%>
                  <%end%>
                  <%if checked==true%>
                      <%=check_box_tag "#{means.key}[#{means.value}]","1",true,:readonly=>"readonly",:disable=>true%>
                  <%else%>
                      <%=check_box_tag "#{means.key}[#{means.value}]","1",false,:readonly=>"readonly",:disable=>true%>
                  <%end%>
                  <%=means.name%>
                </li>
            <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
    <div class="control-group" style="clear:both">
      <%= f.label :brief, "简介：", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :brief, :class => 'text_field',:style=>"width:500px" %>
      </div>
    </div>


    <div>
     <span class="help-inline error">
       <%@lab_eval_project.errors.each do |error| %>
         <%= @lab_eval_project.errors[error] %> &nbsp;&nbsp;
       <%end%>
     </span>
    </div>
  <div class="form-actions">

    <%= f.submit "确定", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                'javascript:history.go(-1)', :class => 'btn' %>
  </div>
<% end %>
