<%- model_class = LabEvalProject -%>
<div class="page-header">
  <h1>评测申请</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>编号</th>
      <th>名称</th>
      <th>版本</th>
      <th>种类</th>
      <th>学科分类</th>
      <th>教学场景</th>
      <th>评测状态</th>
      <th>供应商</th>
      <th>申请人</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_eval_projects.each do |lab_eval_project| %>
      <tr>
        <td><%= link_to lab_eval_project.id, lab_eval_project_path(lab_eval_project), target: '_blank' %></td>
        <td><%= link_to lab_eval_project.name, lab_eval_project_path(lab_eval_project),target: '_blank' %></td>
        <td><%= lab_eval_project.version %></td>
        <td>
        <td><%= Option.where(:key=>"eval_object_type",:value=>lab_eval_project.category_id).first.name %></td>
        <td><%= Option.where(:key=>"course_type",:value=>lab_eval_project.course_type).first.name %></td>
        <td><%= lab_eval_project.lab_scene.name %></td>
        <td><%= Option.where(:key=>"eval_status",:value=>lab_eval_project.status).first.name %></td>
        <td><%= lab_eval_project.lab_supplier.name %></td>
        <td><%= lab_eval_project.lab_user.name %></td>
        <td>
        <%if lab_eval_project.status==0 #草稿状态%>
          <%if lab_eval_project.applicant_id==@user.id #申请人可以修改%>
                  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                              edit_lab_eval_project_path(lab_eval_project), :class => 'btn btn-mini' %>
          <%end%>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")), #可以删除
                      lab_eval_project_path(lab_eval_project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%else%>
              <%if @user.role_id== 4 #实验室管理员可以审核%>
                  <%if lab_eval_project.status==1 #申请状态%>
                      <%= link_to t('.approve', :default => t("helpers.links.approve")),
                                  approve_lab_eval_project_path(lab_eval_project), :class => 'btn btn-mini' %>

                      <%= link_to t('.reject', :default => t("helpers.links.reject")),
                                  reject_lab_eval_project_path(lab_eval_project), :class => 'btn btn-mini' %>
                  <%end%>
               <%end%>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if @user.role_id==1 || @user.role_id ==2 #只有教师和电子书包供应商有权限申请%>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lab_eval_project_path,
            :class => 'btn btn-primary' %>
<%end%>
