<%- model_class = LabEvalProject -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:categery_id) %></th>
      <th><%= model_class.human_attribute_name(:course_type) %></th>
      <th><%= model_class.human_attribute_name(:scene_id) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:supplier_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_eval_projects.each do |lab_eval_project| %>
      <tr>
        <td><%= link_to lab_eval_project.id, lab_eval_project_path(lab_eval_project) %></td>
        <td><%= lab_eval_project.name %></td>
        <td><%= lab_eval_project.version %></td>
        <td><%= lab_eval_project.categery_id %></td>
        <td><%= lab_eval_project.course_type %></td>
        <td><%= lab_eval_project.scene_id %></td>
        <td><%= lab_eval_project.status %></td>
        <td><%= lab_eval_project.supplier_id %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_eval_project_path(lab_eval_project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_eval_project_path(lab_eval_project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lab_eval_project_path,
            :class => 'btn btn-primary' %>
