<%- model_class = LabEvalProject -%>
<div class="page-header">
  <h1>评测管理</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名称</th>
      <th>版本</th>
      <th>种类</th>
      <th>学科分类</th>
      <th>教学场景</th>
      <th>申请人</th>
      <th>评测状态</th>
      <th>教学评测时间</th>
      <th>评测报告</th>
     <%if @user.role_id==4 || @user.role_id==6%>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
     <%end%>
    </tr>
  </thead>
  <tbody>
    <% @lab_eval_projects.each do |lab_eval_project| %>
      <tr>
        <td><%= link_to lab_eval_project.name, lab_eval_project_path(lab_eval_project)%></td>
        <td><%= lab_eval_project.version %></td>
        <td><%= Option.where(:key=>"eval_object_type",:value=>lab_eval_project.category_id).first.name %></td>
        <td><%= Option.where(:key=>"course_type",:value=>lab_eval_project.course_type).first.name %></td>
        <td><%= lab_eval_project.lab_scene.name %></td>
        <td><%= lab_eval_project.lab_user.name %></td>
        <td><%= Option.where(:key=>"eval_status",:value=>lab_eval_project.status).first.name %></td>
        <td> </td>
        <td> </td>
        <%if @user.role_id==4 || @user.role_id==6%>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_eval_project_path(lab_eval_project), :class => 'btn btn-mini' %>
          <%= link_to t('.questionnaire', :default => t("helpers.links.questionnaire")),
                      new_lab_eval_project_lab_questions_score_path( lab_eval_project), :class => 'btn btn-mini' %>
          <%= link_to t('.lab_course', :default => t("helpers.links.lab_course")),
                      new_lab_eval_project_lab_course_path( lab_eval_project), :class => 'btn btn-mini' %>
        </td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_lab_eval_project_path,
            :class => 'btn btn-primary' %>
<div class="pagination">
  <%= will_paginate @lab_eval_projects, :container => false %>
</div>
