<%- model_class = LabEvalProject -%>
<div class="page-header">
  <h1><%= @lab_eval_project.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>版本:</strong></dt>
  <dd><%= @lab_eval_project.version %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @lab_eval_project.category_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:course_type) %>:</strong></dt>
  <dd><%= @lab_eval_project.course_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scene_id) %>:</strong></dt>
  <dd><%= @lab_eval_project.scene_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @lab_eval_project.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier_id) %>:</strong></dt>
  <dd><%= @lab_eval_project.supplier_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              home_lab_users_path, :class => 'btn'  %>
</div>
