<%=form_for  @lab_teach_design, :html => {:multipart => true, :class => 'form-horizontal' }  do |f|%>

  <div class="control-group">
    <%= f.label :title,"标题" ,:class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :file,"附件", :class => 'control-label' %>
    <div class="controls">
      <%= file_field_tag :file,:class => 'file_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :course_type,"学科类别", :class => 'control-label' %>
    <div class="controls">
      <%=f.select :course_type, options_from_collection_for_select(Option.where(:key=>"course_type"),'value','name', @lab_teach_design.course_type),:include_blank=>"请选择" %>
    </div>
  </div>
    <div class="control-group">
      <%= f.label :brief, "简介", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :brief, :class => 'text_field' %>
      </div>
    </div>
    <div>
     <span class="help-inline error">
       <%@lab_teach_design.errors.each do |error| %>
         <%= @lab_teach_design.errors[error] %> &nbsp;&nbsp;
       <%end%>
     </span>
    </div>
  <div class="form-actions">
    <%= f.submit "确定", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_teach_designs_path, :class => 'btn' %>
  </div>
<% end %>
