<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
      <ul>
          <li><a href="#"><i class="icon-home"></i></a></li>
          <li><%=link_to "在线课堂数据分析", online_monitors_path %></li>
          <li><%=link_to "课程学习行为", course_study_monitors_path %></li>
      </ul>
  </nav>
</div>

<ul>
  <li>
    <div id="chart-01">


      <%= text_field_tag('data_source_hbullet_1', "/monitors/course_study_data?equipment_code=001001&point_id=000001&size=small", :type=>'hidden')%>
      <div chart-type="/FusionCharts/HBullet.swf"
           data-source="/monitors/course_study_data?equipment_code=001001&point_id=000001"
           id="chart-container-hbullet-1">
      </div>
      <%= text_field_tag('data_source_hbullet_2', "/monitors/course_study_data?equipment_code=001001&point_id=000002&size=small", :type=>'hidden')%>
      <div chart-type="/FusionCharts/HBullet.swf"
           data-source="/monitors/course_study_data?equipment_code=001001&point_id=000002"
           id="chart-container-hbullet-2">
      </div>
      <%= text_field_tag('data_source_hbullet_3', "/monitors/course_study_data?equipment_code=001001&point_id=000003&size=small", :type=>'hidden')%>
      <div chart-type="/FusionCharts/HBullet.swf"
           data-source="/monitors/course_study_data?equipment_code=001001&point_id=000003"
           id="chart-container-hbullet-3">
      </div>
      <%= text_field_tag('data_source_hbullet_4', "/monitors/course_study_data?equipment_code=001001&point_id=000004&size=small", :type=>'hidden')%>
      <div chart-type="/FusionCharts/HBullet.swf"
           data-source="/monitors/course_study_data?equipment_code=001001&point_id=000004"
           id="chart-container-hbullet-4">
      </div>
      <%= text_field_tag('data_source_hbullet_5', "/monitors/course_study_data?equipment_code=001001&point_id=000005&size=small", :type=>'hidden')%>
      <div chart-type="/FusionCharts/HBullet.swf"
           data-source="/monitors/course_study_data?equipment_code=001001&point_id=000005"
           id="chart-container-hbullet-5">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-02">
      <div id="chart-container-02">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-03">
      <div id="chart-container-03">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-04">
      <div id="chart-container-04">
      </div>
    </div>
  </li>
  <li></li>
  <li></li>
</ul>
<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = $(this).attr("chart-type");
        var data_source = $(this).attr("data-source");
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>