<div class="the_big_chart">
  <div id="big_chart_render">
  </div>
</div>

<% if params[:data_source][params[:data_source].size-6..params[:data_source].size-6]!='2'#线上的不显示%>
    <%= render :partial => 'course_info' %>
<%end%>
<script type="text/javascript">
  function pic_loaded(){
    alert("pic loaded over");
    //  alert( objRtn.fileName);
      /*
       if (objRtn.statusCode=="1"){
       var filename = objRtn.fileName;
       $("#commit_export_save").attr("filename",filename);
       $("#commit_export_save").show();
       $("#report_pre_deal").hide();
       }
       */


  }
$(document).ready(function(){
	 // alert("<%=params[:chart_type]%>");
	 // alert("<%=params[:data_source]%>");

    var initHeight = $(window.parent).height()*0.8;
    var customerChart = new FusionCharts( "<%=params[:chart_type]%>",
                                                  "chart_realtime_01", "100%", initHeight, "0", "1" );
    //realtimeChart.setXMLUrl("/monitors/camera_data?equipment_code=000001");
   // var data_source = "<%=params[:data_source]%>&point_id=<%=params[:point_id]%>&source=<%=@source%>";//document.getElementById('data_source').value; //
    var data_source = unescape("<%=params[:data_source]%>")

    customerChart.setXMLUrl(data_source);
    customerChart.render("big_chart_render");
    if("1"=="<%=params[:export_flag]%>")
    {
      customerChart.addEventListener("Rendered", function () { 
        FusionCharts("chart_realtime_01").exportChart();
      });
    }
});
</script>