<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><%=link_to "实验室管理", monitors_path %></li>
    </ul>
  </nav>
</div>

<ul>
  <li>
    <div id="chart-01">
      <div class="home_chart" export-flag="1" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/behaviour_data_history?equipment_code=001001&id=<%=params[:lab_course_id]%>&size=small&start_at=<%=@lab_course.begin_time_real.strftime('%Y%m%d%H%M%S')%>&end_at=<%=@lab_course.end_time_real.strftime('%Y%m%d%H%M%S')%>"
           id="chart-container-1"
           url= "behaviour">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-02">
      <div class="home_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/mindwave_data_history?equipment_code=002001&id=<%=params[:lab_course_id]%>&point=000000&size=small&start_at=<%=@lab_course.begin_time_real.strftime('%Y%m%d%H%M%S')%>&end_at=<%=@lab_course.end_time_real.strftime('%Y%m%d%H%M%S')%>"
           id="chart-container-2"
           url= "mind_wave_attention">
      </div>
    </div>
    </div>
  </li>
  <li>
    <div id="chart-03">
      <div class="home_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/mindwave_data_history?equipment_code=002001&id=<%=params[:lab_course_id]%>&point=000001&size=small&start_at=<%=@lab_course.begin_time_real.strftime('%Y%m%d%H%M%S')%>&end_at=<%=@lab_course.end_time_real.strftime('%Y%m%d%H%M%S')%>"
           id="chart-container-3"
           url="mind_wave_meditation">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-04">
      <div class="home_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/network_data_history?equipment_code=003001&id=<%=params[:lab_course_id]%>&size=small&start_at=<%=@lab_course.begin_time_real.strftime('%Y%m%d%H%M%S')%>&end_at=<%=@lab_course.end_time_real.strftime('%Y%m%d%H%M%S')%>"
           id="chart-container-4"
           url="network">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-05">
      <div class="home_chart" chart-type="RealTimeLineDY.swf"
           data-source="/monitors/environment_data_history?equipment_code=004001&id=<%=params[:lab_course_id]%>&size=small&start_at=<%=@lab_course.begin_time_real.strftime('%Y%m%d%H%M%S')%>&end_at=<%=@lab_course.end_time_real.strftime('%Y%m%d%H%M%S')%>"
           id="chart-container-5"
           url="environment">
      </div>
    </div>
  </li>
</ul>
<%= render :partial => 'history_info' %>
<div style="margin:20px;float:right">
  <%= link_to '查看更多课程图表>>' ,lab_courses_path , :class => 'btn btn-primary'%>
</div>

<script type="text/javascript">
    $(".home_chart").click(function(e){
        var chart_type = '/FusionCharts/' + $(this).attr("chart-type");
        var export_flag = $(this).attr("export-flag");
        var data_source = $(this).attr("data-source").replace(/&size=small/,'');
        window.parent.show_fancybox(data_source,chart_type,export_flag);
    })
</script>

