<%- model_class = LabUser -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><%=link_to "实验室管理", monitors_path %></li>
      <li><%=link_to "脑波监测", mind_wave_monitors_path %></li>
      <% if !@source.blank?%>
          <li><%=link_to "学生#{@source}", mind_wave_monitors_path %></li>
      <% end%>
    </ul>
  </nav>
</div>

<ul class="muti_charts" style="margin-left:3px">
  <%if @source.blank? %>
      <li>
        <div id="chart-00">
          <div chart-type="AngularGauge.swf"
               data-source="/monitors/dashboard_data?equipment_code=002001"
               id="chart-container-0">
          </div>
        </div>
      </li>
      <li>
        <div id="chart-01">
          <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
               data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000000&source=1&link=1&size=small"
               id="chart-container-1"
               url="mind_wave?source=1">
          </div>
        </div>
      </li>
      <li>
        <div id="chart-02">
          <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
               data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000000&source=2&link=1&size=small"
               id="chart-container-2"
               url="mind_wave?source=2">
          </div>
        </div>
      </li>
      <li>
        <div id="chart-03">
          <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
               data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000000&source=3&link=1&size=small"
               id="chart-container-3"
               url="mind_wave?source=3">
          </div>
        </div>
      </li>
      <li>
        <div id="chart-04">
          <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
               data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000000&source=4&link=1&size=small"
               id="chart-container-4"
               url="mind_wave?source=4>
          </div>
        </div>
      </li>
  <%else%>
  <li>
    <div id="chart-00">
      <div chart-type="AngularGauge.swf"
           data-source="/monitors/dashboard_data?equipment_code=002001&source=<%=@source%>"
           id="chart-container-0">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-01">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000000&source=<%=@source%>&size=small"
           id="chart-container-1">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-02">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000002&source=<%=@source%>&size=small"
           id="chart-container-2">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-03">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000003&source=<%=@source%>&size=small"
           id="chart-container-3">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-04">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000004&source=<%=@source%>&size=small"
           id="chart-container-4">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-05">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000005&source=<%=@source%>&size=small"
           id="chart-container-5">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-06">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000006&source=<%=@source%>&size=small"
           id="chart-container-6">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-07">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000007&source=<%=@source%>&size=small"
           id="chart-container-7">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-08">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000008&source=<%=@source%>&size=small"
           id="chart-container-8">
      </div>
    </div>
  </li>
  <li>
    <div id="chart-09">
      <div class="small_chart" chart-type="RealTimeLineDY.swf" chart-analysis="MultiAxisLine.swf"
           data-source="/monitors/mind_wave_data?equipment_code=002001&point_id=000009&source=<%=@source%>&size=small"
           id="chart-container-9">
      </div>
    </div>
  </li>
  <%end%>
</ul>

<script type="text/javascript">
    $(".small_chart").click(function(e){
        var chart_type = '/FusionCharts/' + $(this).attr("chart-type");
        var data_source = $(this).attr("data-source").replace(/&size=small/,'');
        window.parent.show_fancybox(data_source,chart_type);
    })
</script>