<div>
    <ul class="nav nav-tabs" id="myTab"> 
      <li class="active"><a href="#apply_manage">评测申请审核</a></li>
      <li><a href="#eval_manage">评测管理</a></li>
      <li><a href="#lab_manage">实验室管理</a></li> 
      <li><a href="#notices">评测信息管理</a></li>
      <li><a href="#base_data">基础数据维护</a></li>
    </ul>
    <div class="tab-content full_height"> 
      <div class="tab-pane full_height active" id="apply_manage">
        <iframe id="tab1_frame" src="<%=apply_lab_eval_projects_path%>"></iframe>
      </div> 
      <div class="tab-pane full_height" id="eval_manage">
        <iframe id="tab1_frame" src="<%=lab_eval_projects_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="lab_manage">...</div>
      <div class="tab-pane full_height" id="notices">
        <iframe id="tab1_frame" src="<%=lab_notices_path%>"></iframe>
      </div>
      <div class="tab-pane full_height" id="base_data">
        <div class="help-inline full_width">
          <%= link_to '教学场景维护',
                  lab_scenes_path, :class => 'btn iframe_btn' %>
          <%= link_to '实验室设备管理',
                  lab_equipments_path, :class => 'btn iframe_btn' %>
          <%= link_to '供应商管理',
                  lab_suppliers_path, :class => 'btn iframe_btn' %>
        </div>
          <iframe id="tab1_frames" src="<%=lab_scenes_path%>"></iframe>

      </div>
    </div> 
</div>