<%= form_for @lab_seat, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :course_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :course_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :seat_index, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :seat_index, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_seats_path, :class => 'btn' %>
  </div>
<% end %>
