<%= form_for @lab_course, :html => { :class => 'form-horizontal' } do |f| %>
  <div>
    <input value="<%=@id%>" name="project_id"/>
  </div>
  <div class="control-group">
    课堂测试名称
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
    <div class="control-group">
      测试地点
      <div class="controls">
        <%= f.text_field :location, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      参与人员
      <div class="controls">
        <%= f.text_field :participants, :class => 'text_field' %>
      </div>
    </div>
  <div class="control-group">
    学科分类
    <div class="controls">
      <%=f.select :course_type, options_from_collection_for_select(Option.where(:key=>"eval_object_type"),'value','name',@lab_course.course_type),:include_blank=>"请选择" %>
    </div>
  </div>
  <div class="control-group">
    评测对象类型
    <div class="controls">
      <%=f.select :category_id, options_from_collection_for_select(Option.where(:key=>"course_type"),'value','name',@lab_course.category_id),:include_blank=>"请选择" %>
    </div>
  </div>

  <div class="control-group">
    开始时间
    <div class="controls">
      <%=f.text_field :begin_time,:class=>"datetime"%>

    </div>
  </div>
  <div class="control-group">
    结束时间
    <div class="controls">
      <%=f.text_field :end_time,:class=>"datetime"%>
    </div>
  </div>
  <!--
  <div class="control-group">
    <%= f.label :progress, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :progress, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :publish_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :publish_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :apply_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :apply_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :approve_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :approve_time, :class => 'text_field' %>
    </div>
  </div>
  -->
  <div class="control-group">
    教学场景
    <div class="controls">
      <%= f.number_field :scene_id, :class => 'number_field' %>
    </div>
  </div>
    <!--
  <div class="control-group">
    <%= f.label :course_property, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :course_property, :class => 'number_field' %>
    </div>
  </div>
  -->
  <div class="control-group">
    是否需要教师授课？
    <div class="controls">
      <%=f.check_box :need_teacher%>
    </div>
  </div>
    <div class="control-group">
      教师
      <div class="controls">
        <%=f.select :teacher_id, options_from_collection_for_select(LabUser.where(:role_id=>"2"),'id','name',@lab_course.teacher_id),:include_blank=>"请选择" %>
      </div>
    </div>
    <!--
  <div class="control-group">
    <%= f.label :desc, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :desc, :class => 'number_field' %>
    </div>
  </div>
-->
  <div class="form-actions">
    <%= f.submit "确定", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                'javascript:history.go(-1)', :class => 'btn' %>
  </div>
<% end %>
