<%- model_class = LabCourse -%>
<div class="metro adjust-lab">
  <nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
      <li><a href="#"><i class="icon-home"></i></a></li>
      <li><%=link_to "实验课堂" %></li>
      <li class="new_button" style="float:right">
        <i class="icon-pencil"></i>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_course_path%>
      </li>
    </ul>
  </nav>
</div>
<div class="panel">
  <br>
  <form method="post" action="<%=@action%>" class=="form-search">
    <input value='<%=@key%>' name="key" placeholder="请输入名称或标题搜索"  class = 'text_field search-query'/>
    <input type="submit" value="查询" class ='btn'/>
  </form>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>课程编号</th>
      <th>名称</th>
      <th>学科分类</th>
      <th>评测对象</th>
      <th>教师</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>状态</th>
      <th>评测编号</th>
      <th>教学场景</th>
      <th>图表分析</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_courses.each do |lab_course| %>
      <tr>
        <td><%= link_to lab_course.id, lab_course_path(lab_course) %></td>
        <td><%= lab_course.name %></td>
        <td><%= Option.where(:key=>"eval_object_type",:value=>lab_course.course_type).first.name %></td>
        <td><%= Option.where(:key=>"course_type",:value=>lab_course.category_id).first.name %></td>
        <td><%= lab_course.lab_user.name %></td>
        <td><%=l lab_course.start_time %></td>
        <td><%=l lab_course.end_time %></td>
        <td><%= lab_course.status %></td>
        <td><%= lab_course.project_id %></td>
        <td><%= lab_course.lab_scene.name %></td>
        <td><%= link_to "图表分析" , history_monitors_path("lab_course_id"=>lab_course.id) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_course_path(lab_course), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_course_path(lab_course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <%=link_to '生成报告', lab_report_path(lab_course), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @lab_courses, :container => false %>
</div>