<%- model_class = LabCourse -%>
<div class="panel">
  <header>
    <span><i class="icon-asterisk"></i></span>
    <span>实验课堂</span>
     <span class="new_button">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_course_path,
                    :class => 'btn btn-primary' %>
     </span>
  </header>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>课程编号</th>
      <th>名称</th>
      <th>学科分类</th>
      <th>评测对象</th>
      <th>教师</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>状态</th>
      <th>评测编号</th>
      <th>教学场景</th>
      <th>需要教师？</th>
      <th>图表分析</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_courses.each do |lab_course| %>
      <tr>
        <td><%= link_to lab_course.id, lab_course_path(lab_course) %></td>
        <td><%= lab_course.name %></td>
        <td><%= lab_course.category_id %></td>
        <td><%= lab_course.course_type %></td>
        <td><%= lab_course.teacher_id %></td>
        <td><%=l lab_course.start_time %></td>
        <td><%=l lab_course.end_time %></td>
        <td><%= lab_course.status %></td>
        <td><%= lab_course.project_id %></td>
        <td><%= lab_course.scene_id %></td>
        <td><%= lab_course.is_teach %></td>
        <td><%= link_to "分析图表" , monitors_lab_course_path(lab_course) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_course_path(lab_course), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_course_path(lab_course),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @lab_courses, :container => false %>
</div>