<%= form_for @lab_mobile_course, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :title,"标题" ,:class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :file,"文件", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :file, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :course_type,"学科类别", :class => 'control-label' %>
      <div class="controls">
        <%=f.select :course_type, options_from_collection_for_select(Option.where(:key=>"course_type"),'value','name',@lab_mobile_course.course_type),:include_blank=>"请选择" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :brief, "简介", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :brief, :class => 'text_field' %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_mobile_courses_path, :class => 'btn' %>
  </div>
<% end %>
