<%- model_class = LabMobileCourse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>标题:</strong></dt>
  <dd><%= @lab_mobile_course.title %></dd>
  <dt><strong>作者:</strong></dt>
  <dd><%= @lab_mobile_course.lab_user.name %></dd>
  <dt><strong>学科类型:</strong></dt>
  <dd><%= @lab_mobile_course.course_type %></dd>
  <dt><strong>状态:</strong></dt>
  <dd><%= @lab_mobile_course.status %></dd>
  <dt><strong>附件:</strong></dt>
  <dd>&nbsp;<%= @lab_mobile_course.file %></dd>
  <dt><strong>创建时间:</strong></dt>
  <dd><%= @lab_mobile_course.created_at %></dd>
  <dt><strong>修改时间:</strong></dt>
  <dd><%= @lab_mobile_course.updated_at %></dd>
  <dt><strong>简介:</strong></dt>
  <dd><%= @lab_mobile_course.brief %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              lab_mobile_courses_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lab_mobile_course_path(@lab_mobile_course), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lab_mobile_course_path(@lab_mobile_course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
