<%= form_for @lab_questionnaire, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :title,'标题', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
  <div class="control-group">
    <%= f.label :desc,'说明', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :desc, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version,'版本', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit '确定', :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                lab_questionnaires_path, :class => 'btn' %>
  </div>
<% end %>
