<%- model_class = LabSupplier -%>
<div class="panel">
  <header>
    <span><i class="icon-asterisk"></i></span>
    <span>供应商列表</span>
     <span class="new_button">
        <%= link_to t('.new', :default => t("helpers.links.new")),
                    new_lab_supplier_path,
                    :class => 'btn btn-primary' %>
     </span>
  </header>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>公司名</th>
      <th>电话</th>
      <th>地址</th>
      <th>联系人</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @lab_suppliers.each do |lab_supplier| %>
      <tr>
        <td><%= link_to lab_supplier.id, lab_supplier_path(lab_supplier) %></td>
        <td><%= lab_supplier.name %></td>
        <td><%= lab_supplier.tel %></td>
        <td><%= lab_supplier.addr %></td>
        <td><%= lab_supplier.contacts %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lab_supplier_path(lab_supplier), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lab_supplier_path(lab_supplier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= will_paginate @lab_suppliers, :container => false %>
</div>